* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "Hello";
    display: block;
    clear: both;
    background-color: rebeccapurple;
}

body {
    background-color:bisque;
}

.wrapper {
    margin: 100px auto;
    width: 1000px;
    background-color: white;
}




.box-model {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
    /* defeat box model */
   /* box-sizing:border-box; */   /* makes the box inside the given width and height */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    padding: 0%;
    text-align: center;
}

nav ul li {
    background-color: aquamarine;
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
}

.overflow {
    background-color: gray;
    width: 200px;
    height: 400px;
    overflow: scroll;
}

.float h2 {
    float: right;
    width: 50%;
}

.p-float {
    clear: right;
}


.cols p {
    background-color: rgb(162, 110, 91);
    float: left;
    width: 33.3%;
}


.stage {
    width: 500px;
    height: 400px;
    background-color: brown;
    /* position: relative; */
}

.prop {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    top: 0;
    left: 0;
    left: 0px;
}
footer {
    background-color: coral;
    padding: 20px;
    /* clear: both; */
}

