body{
    background-color: #aad4cf;
}
.header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.centre-title {
    position: absolute;
    top: 32%;
    left: 42%;
    color: white;
    font-size: 300%
    
}
nav ul {
    list-style: none;
    margin-left: 28%;
    padding: 0;
    margin-top: -1.5%;

}
nav li {
    float: left;
    display: block;
    /* padding: 10px; */
    color: black;
    word-spacing: 100px;
    width: 25%;
    font-size: xx-large;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    border-right: solid 1px black;
    margin-left: 15px;
 }
 h2 {
    padding: 8px 8px;
 }


 .color {
    display: block;
    background-color: #D4E9E7;
    margin-left: 16%;
    margin-right: 16%;
    padding: 6px 6px;
 }

 .image-size {
    display: grid;
    width: 190px;
    padding: 10px;
    float: left;
 }

 .article {
   
 }

.story {
    display: inline;
    width: 500px;
    font-size: large;  
} 

.info {
    border-style: solid;
    padding: 4px;
}

.style {
    width: 97%;
    margin-left: 10px;
}

.button {
    border-style: solid;
    height: 30px;
    margin-left: 10px;
}

label, input, textarea, .formp {
    margin-left: 10px;
}


.foot {
    text-align: right;
    margin-right: 14px;
}
