body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 173, 65);
}

.padding {
    padding: 20px;
}/* also - heading, section, foooter */

.wrapper {
    width: 80%;
    margin: auto;
    background-color: #fff;
}
header, footer {
    background-color: #369;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

nav li {
    width: 33%;
}

nav a {
    color: lightblue;
}

article {
    width: 50%;
    float: left;
}

footer {
    clear: left;
}